/*
Sass::SyntaxError: Error generating source map: couldn't determine public URL for the source stylesheet.
  No filename is available so there's nothing for the source map to link to.


Backtrace:
c:/RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/engine.rb:347:in `_render_with_sourcemap'
c:/RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/engine.rb:285:in `render_with_sourcemap'
c:/RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/exec/sass_scss.rb:396:in `run'
c:/RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/exec/sass_scss.rb:62:in `process_result'
c:/RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/exec/base.rb:52:in `parse'
c:/RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/exec/base.rb:19:in `parse!'
c:/RailsInstaller/Ruby2.0.0/lib/ruby/gems/2.0.0/gems/sass-3.4.5/bin/sass:13:in `<top (required)>'
c:/RailsInstaller/Ruby2.0.0/bin/sass:23:in `load'
c:/RailsInstaller/Ruby2.0.0/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Sass::SyntaxError: Error generating source map: couldn't determine public URL for the source stylesheet.\A   No filename is available so there's nothing for the source map to link to.\A "; }
