<div class="container">
  <div masonry>
    <div ng-class="{'masonry-brick-descr' : (!illu.imageFileName)}" class="masonry-brick" ng-repeat="illu in illus">

      <div class="masonry-brick-content">
        <div class="masonry-brick-img" ng-class="{'masonry-no-image' : (!illu.imageFileName)}">
          <img ng-src="../files/img/illus/450x/{{illu.imageFileName}}" alt="{{illu.title}}"  class="animation-fade animation-faded">
        </div>
        <div class="masonry-brick-text" ng-bind-html="illu.title"></div>
        <div ng-if="illu.customerLink" class="masonry-brick-text">For: <a href="illu.customerLink" target="_blank">{{illu.customer}}</a></div>
        <div ng-if="!illu.customerLink && illu.customer" class="masonry-brick-text">For: {{illu.customer}}</div>
      </div>
  </div>
</div>