$width: 780px;

.home-background {
  width: 100%;
  position: absolute;
  top: 70px;
  bottom: 0;
}

.home-wrapper {
  height: 100%;
  width: $width;
  margin: 0 auto;
}

.home-content {
  overflow: hidden;
  position: relative;
  color: white;
  text-align: center;

  h1 {
    margin-bottom: 60px;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 300;
  }
}

.home-circle {
	border: 6px solid white;
	width: 250px;
	height: 250px;
}

.home-circle-container {
  display: block;
  float: left;
  width: 250px;
  height: 350px;
  margin-right: 15px;
  margin-bottom: 20px;
  text-align: center;

  &:last-of-type {
    margin-right: 0;
  }

  a {
    color: white;
    font-weight: 300;
    text-decoration: none;

    &:hover {
      color: #004D45;
    }
  }
}

@media (max-width: $width) {
  .home-wrapper {
    width: 100%;
  }
  .home-circle-container {
    float: none;
    margin-right: auto;
    margin-left: auto;
    &:last-of-type {
      margin-right: auto;
    }
  }
}
