/* -- Masonry -- */
.masonry-brick {
  width: 25%;
}

.masonry-brick-content {
	margin: 5px;
	border: 1px solid #ddd;
}

.masonry-brick-img img {
  width: 100%;
}

.masonry-brick-text {
	font-size: 12px;
	padding: 5px;
}