/* -- Masonry -- */

/* Extra Small devices (<768px) */
@media (min-width: 200px) {
	.masonry-brick {
		width: 100%;
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 500px) {
	.masonry-brick {
		width: 50%;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 800px) {
	.masonry-brick {
		width: 25%;
	}
}

.masonry-brick-content {
	margin: 5px;
	border: 1px solid #ddd;
}

.masonry-brick-img img {
  width: 100%;
}

.masonry-brick-text {
	font-size: 12px;
	padding: 5px;
}