/* -- Nav -- */
.navbar {
  min-height: 70px;
  margin-bottom: 0;
}

.navbar-brand {
  height: 70px;
  font-size: 30px;
  padding: 25px 15px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: white;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav > li > a {
  padding-top: 25px;
  padding-bottom: 25px;
  color: white;

  &:hover {
    color: $primary-color-very-dark;
  }
}

.navbar-default {
  background-color: $primary-color;
  border: none;
}

.navbar-toggle {
  margin-top: 17px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #009989;
}

@media only screen and (max-width: 766px) {
  .collapsing, .in {
    background-color: $primary-color-darker;
  }
  .collapsing ul li a, .in ul li a {
    color: white !important;
  }
  .collapsing ul li a:hover, .in ul li a:hover {
    color: $primary-color-brighter !important;
  }
}