/* 
 * base: #00A392
 * light: #9FE5C6;
 * gradient-dark: base
 * gradient-light: #25D6A2
 * gradient2-light: #21BF91;
 * gradient2-dark: #009989;
 * shadow: #004D45;
 * shadow-darker: #001A17 ;
 * 
*/
$primary-color: #29D6A7;
$primary-color-brighter: #BEF7E8;
$primary-color-darker: #1B876A;

@import '../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss';
@import 'masonry';
@import 'home';
@import 'projects';
@import 'footer';
@import 'nav';

html {
  position: relative;
  min-height: 100%;
}

body { 
  padding-top: 100px; 
  /* Margin bottom by footer height */
  margin-bottom: 100px;
  font-family: 'Ubuntu', sans-serif;
  color: #000;
}


/* -- Type -- */
h3 {
  font-size: 20px;
}

a {
  color: $primary-color;
}

a:hover {
  color: $primary-color-darker;
  text-decoration: none;
}

.site-header {
  margin-bottom: 40px;
  margin-top: 0;
}
