$primary-color: #29D6A7;
$primary-color-brighter: #BEF7E8;
$primary-color-darker: #1B876A;
$primary-color-very-dark: #0B4535;

@import '../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss';
@import 'loading-bar';
@import 'masonry';
@import 'home';
@import 'projects';
@import 'footer';
@import 'nav';
@import 'crafts';

html {
  position: relative;
  min-height: 100%;
}

body { 
  padding-top: 100px; 
  /* Margin bottom by footer height */
  margin-bottom: 100px;
  font-family: 'Ubuntu', sans-serif;
  color: #000;
}


/* -- Type -- */
h3 {
  font-size: 20px;
}

a {
  color: $primary-color;
}

a:hover {
  color: $primary-color-darker;
  text-decoration: none;
}

.site-header {
  margin-bottom: 40px;
  margin-top: 0;
}
