<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="jenniferSpry" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="jenniferSpry" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="jenniferSpry" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="jenniferSpry" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Jennifer Spry</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400' rel='stylesheet' type='text/css'>
  <link href="css/style.css" rel="stylesheet" media="screen">
  <link rel="shortcut icon" href="../img/favicon.ico">
</head>
<body ng-class="{'dark-background' : isHomePage}">
	<nav  headroom offset='200' class="navbar navbar-default navbar-fixed-top" role="navigation" ng-init="isCollapsed = true">
		<div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" ng-click="isCollapsed = !isCollapsed">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" ui-sref="home">Jennifer Spry</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" collapse="isCollapsed">
	      <ul class="nav navbar-nav navbar-right">
          <li><a ui-sref="projects">Projects</a></li>
          <li><a ui-sref="crafts">Crafts</a></li>
          <li><a ui-sref="illustrator">Illustration</a></li>
          <li>
            <a href="http://www.pinterest.com/jennifersdiy/" target="_blank">
              <img ng-if="isCollapsed" src="../img/pint.png" alt="Pinterest Icon">
              <img ng-if="!isCollapsed" src="../img/pint-light.png" alt="Pinterest Icon">
            </a>
          </li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div ui-view></div>

  <div class="footer">
    <div class="container">
      <p>&copy; 2014 Jennifer Spry &emsp;&#124;&emsp; <a ui-sref="impress">Impress</a></p>
    </div>
  </div>

  <!-- build:js js/assets.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/get-style-property/get-style-property.js"></script>
  <script src="bower_components/get-size/get-size.js"></script>
  <script src="bower_components/eventie/eventie.js"></script>
  <script src="bower_components/doc-ready/doc-ready.js"></script>
  <script src="bower_components/eventEmitter/EventEmitter.js"></script>
  <script src="bower_components/jquery-bridget/jquery.bridget.js"></script>
  <script src="bower_components/matches-selector/matches-selector.js"></script>
  <script src="bower_components/outlayer/item.js"></script>
  <script src="bower_components/outlayer/outlayer.js"></script>
  <script src="bower_components/masonry/masonry.js"></script>
  <script src="bower_components/imagesloaded/imagesloaded.js"></script>
  <script src="bower_components/angular-masonry/angular-masonry.js"></script>
  <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
  <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
  <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
  <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
  <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
  <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
  <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
  <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
  <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
  <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
  <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
  <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
  <script src="bower_components/headroom.js/dist/headroom.js"></script>
  <script src="bower_components/headroom.js/dist/angular.headroom.js"></script>
  <!-- endbower -->

  <script src="bower_components/bootstrap-ui/src/transition/transition.js"></script>
  <script src="bower_components/bootstrap-ui/src/collapse/collapse.js"></script>
  <script src="bower_components/bootstrap-ui/src/alert/alert.js"></script>
  <!-- endbuild -->

  <script src="js/analytics.js"></script>
  <!-- build:js js/app.js -->
  <script src="js/app.module.js"></script>
  <script src="js/app.config.js"></script>

  <script src="js/crafts/crafts.module.js"></script>
  <script src="js/crafts/crafts-http.service.js"></script>
  <script src="js/crafts/all-crafts.controller.js"></script>
  <script src="js/crafts/one-craft.controller.js"></script>
  <script src="js/crafts/random-crafts.directive.js"></script>
  
  <script src="js/projects/projects.module.js"></script>
  <script src="js/projects/projects-http.service.js"></script>
  <script src="js/projects/projects.controller.js"></script>

  <script src="js/illus/illus.module.js"></script>
  <script src="js/illus/illus-http.service.js"></script>
  <script src="js/illus/illus.controller.js"></script>
  <!-- endbuild -->
</body>
</html>