<div class="container home-circles">
  <div class="row">

    <div class="col-sm-4">
      <a href="#/developer">
        <img class="img-circle" src="img/codeProjects/bts.png" alt="Generic placeholder image" style="width: 220px; height: 220px;">
      </a>
      <h2><a href="#/developer">Developer</a></h2>
    </div>

    <div class="col-sm-4">
      <a href="#/maker">
        <img class="img-circle" src="img/crafts/ball.jpg" alt="Generic placeholder image" style="width: 220px; height: 220px;">
      </a>
      <h2><a href="#/maker">Maker</a></h2>
    </div>

    <div class="col-sm-4">
      <a href="#/illustrator">
        <img class="img-circle" src="img/codeProjects/clevermath.png" alt="Generic placeholder image" style="width: 220px; height: 220px;">
      </a>
      <h2><a href="#/illustrator">Illustrator</a></h2>
    </div>

  </div>
</div>