<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h2 class="site-header">Projects</h2>
    </div>
  </div>

  <div class="row project-row" ng-repeat="row in rows">
    <div class="col-md-6" ng-repeat="elem in row">
      <div class="row project-single-row">
        <div class="col-xs-4 col-sm-4">
          <a ng-if="elem.imageFileName && elem.link" href="{{elem.link}}" target="_blank">
            <img ng-src="files/img/codeProjects/250x/{{elem.imageFileName}}" class="project-image" />
          </a>
          <img ng-if="elem.imageFileName && !elem.link" ng-src="files/img/codeProjects/250x/{{elem.imageFileName}}" class="project-image" />
        </div>
        <div class="col-xs-8 col-sm-8">
          <h3 ng-if="elem.link">
            <a href="{{elem.link}}" target="_blank">{{ elem.title }}</a>
            <span ng-if="elem.done < 100" class="badge">ongoing</span>
          </h3>
          <h3 ng-if="!elem.link">{{ elem.title }}</h3>
          <p ng-bind-html="elem.description"></p>
        </div>
      </div>
    </div>
  </div>

</div>